{% extends "edit.twig" %}

{% block editor_content %}
    {{ content|raw }}
{% endblock %}

{% block buttons %}
    {{ buttons|raw }}
{% endblock %}

{% block plugins_content %}
    {% for plugin in plugins %}
        {% set plugin_content = plugins_content[plugin.id] %}
        <div id="tab_{{ plugin.id }}" class="tab-pane">
            {% include 'content.twig' with {structure: plugin, module: plugin, bulk: plugin_content.bulk, module_id: plugin.id, include_header: true, custom_content: plugin_content.content, reference_id: record_id} %}
        </div>
    {% endfor %}
{% endblock %}
