{% extends "common/form.twig" %}

{% block response %}

    {% block content_before %}{% endblock %}

<div class="row">
    <div class="col-md-12">
    {[ "type": "textarea", "label": "{{ 'Descrizione'|trans  }}", "name": "descrizione", "id": "descrizione_riga", "value": {{ result.descrizione|json_encode() }}, "required": 1 ]}
    </div>
</div>

    {% block content_after %}{% endblock %}
{% endblock %}
